p {
    text-align: justify;
}

.loader {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0%;
  z-index: 99;
  text-align: center;
  width: 100%;
  padding-top: 25px;
}

nav {
    border-radius: 0 !important;
}