/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
    font-family: CaviarDreams;
    src: url(fonts/CaviarDreams.ttf);
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: CaviarDreams;
    font-size: 20px;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -9;
    img {
        position: absolute;
        left: 50%;
        margin-left: -960px;
    }
}

.navbar-fixed-top {
    border-radius: 5px;
}

.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
    .navbar-brand {
        font-weight: bold;
        color: white;
    }
    .navbar-brand:hover {
        color: #ccc;
    }
}

#promotion {
    text-align: center;
    margin-top: 25%;
    margin-bottom: 25%;
    height: 50%;
    h2 {
        font-size: 60px;
        font-weight: bold;
        margin-bottom: 100px;
    }
}

#messages {
    padding-top: 100px;
}

.landing {
    min-height: 100%;
    p, h1, h2, h3, h4 {
        color: white;
    }
}