<div class="container">
<div class="alert alert-success" role="alert" ng-show="alerts.success">{{ alerts.success }}</div>
<div class="alert alert-danger" role="alert" ng-show="alerts.danger">{{ alerts.danger }}</div>


<div class="messages-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <ul>
        <li ng-repeat="sha in shas" class="message row">
          <div class="message-content col-xs-9 col-md-8 col-sm-8 col-xs-7">
            {{ messages[sha].message }}
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 message-details">
            <div class="message-vote" ng-click="addKarma(sha)">
              {{ messages[sha].karma }} Karma
            </div>
            <div class="message-date">
              {{ messages[sha].date | formatDate }}
            </div>
          </div>
        </li>
      </ul>
      <div class="space-4"></div>
    </div>
  </div>
</div>
</div>

<div class="message-input hidden" ng-show="Auth.is_authenticated()">
  <form role="form" class="container">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control input-bigger input-lg" id="input-message" placeholder="Write a message" ng-model="message">
        <div class="input-group-addon" ng-click="submitMessage()">
          Submit
        </div>
      </div>
    </div>
  </form>
</div>

